<div class="flip-card rounded m-2">
 <div class="flip-card-inner rounded">
   <div class="flip-card-front rounded">
     <h4>{{title}}</h4>
     <p>{{backtext}}</p>
   </div>
   <div class="flip-card-back rounded">
     <h4>{{fronttext}}</h4>
   </div>
 </div>
</div>
