<div class="fc">

  <div class="fc-inner">
    <div class="fc-back">
      <h4>{{fronttext}}</h4>
    </div>

    <div class="fc-front">
      <h4>{{title}}</h4>
      <p>{{backtext}}</p>
    </div>
  </div>

</div>
