<div class="flip-card">
 <div class="flip-card-inner">
   <div class="flip-card-front">
     <h4>{{title}}</h4>
     <p>{{backtext}}</p>
   </div>
   <div class="flip-card-back">
     <h4>{{fronttext}}</h4>
   </div>
 </div>
</div>
