<div id="modal-backdrop" class="hidden"></div>
<div id="create-deck-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Create a new deck of flashcards</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="deck-input-element">
        <label for="deck-title-input">Deck title</label>
        <input id="deck-title-input"></input>
      </div>

      <div class="deck-input-element">
        <label for="deck-category-input">Category</label>
        <input type="text" id="deck-category-input"></input>
      </div>

      <div class="modal-footer">
        <button type="button" class="modal-cancel-button">Add flashcard</button>
      </div>

    </div>

  </div>
</div>
