<tr id="deck">
  <td>{{decktitle}}</td>
  <td>{{deckdesc}}</td>
  <td>{{deckauthor}}</td>
  <td><button type="button" class="btn btn-secondary">edit</button></td>
  <td><button type="button" class="btn btn-secondary">delete</button></td>
</tr>
