<article class="deck rounded m-2">
  <div class="deck-title">
    <h4><!--{{deckTitle}} -->placeholder</h4>
  </div>
  <div class="deck-content">
    <p class="deck-description"><!--{{deckDescription}} -->placeholder</p>
    <p class="deck-category"><a href="#"><!--{{deckCategory}}-->placeholder</a></p>
  </div>
</article>
