<header>
  <div class="header container-fluid text-white d-flex flex-row">
      <div class="title mr-auto pt-2">
        <a href="/"><h1><i class="fas fa-user-secret"></i><i> Creative and Fun Flash Card App Name</i></h1></a>
      </div>
  <!-- uncomment if you decide you want the search bar

      <div class="align-self-center justify-content-end">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button" ><i class="fas fa-search"></i></button>
      </div>

  -->
  </div>
</header>
