<div class="col-sm-1 bg-info rounded-bottom h-25 w-100">
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="/" class="text-white">Home</a></li>
      <li class="navitem navlink"><a href="/decks" class="text-white">Browse</a></li>
    </ul>
  </nav>
</div>
