<div class="col-sm-1 bg-dark rounded-bottom h-25">
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="/" class="text-warning">Home</a></li>
      <li class="navitem navlink"><a href="/decks" class="text-warning">Browse</a></li>
    </ul>
  </nav>
</div>
