<div class="col-sm-1 bg-secondary rounded-bottom h-25">
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="/">Home</a></li>
      <li class="navitem navlink"><a href="/decks">Browse</a></li>
    </ul>
  </nav>
</div>
