<main class="deck-container">
    <div class="row m-2">
      <table>
        <tr>
          <th>Deck Name</th>
          <th>Description</th>
          <th>Author</th>
        </tr>
      {{> deck}}
    </table>
  </div>
</main>

{{> newdeckmodal}}
