<div class="col-sm-8">
  <div class="row">
    {{> deck}}

    {{> createdeck}}
  </div>
</div>
<button type="button" id="create-deck-button"><i class="far fa-plus-square"> Create New Deck</i></button>
