<main class="deck-container w-50 bg-light rounded m-2">
    <div class="row m-2 flex">
      <table>
        <tr>
          <th>Deck Name</th>
          <th>Author</th>
          <th>Description</th>
        </tr>
        {{#each decks}}
          {{> deck}}
        {{/each}}
    </table>
  </div>
</main>

{{> newdeckmodal}}
