<main class="m-2 bg-light w-50">
  <div class="deckinfo">
    <h3>{{decktitle}}</h3>
    <p class="deckauthor">by {{deckauthor}}</p>
    <p class="deckdesc">{{deckdesc}}</p>
  </div>
  <div class="flashcards">
    {{#each cards}}
      {{> cards}}
    {{/each}}
  </div>
</main>
