/*
 stylesheet for cs290 final project
 Author(s): Garrett Martin
 Date: 5/27/2020
*/

body {
  background: #fbfff1ff;
}

.title a {
  text-decoration: none;
  color: #fff;
}

/* nav stuff */

.navbar {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.navlist {
  margin: 0;
  padding: 0;
}

.navitem {
  display: block;
}

.navlink a {
  color: #fff;
}

.navlink a:hover {
  color: #319df6;
  text-decoration: none;
}

/* search bar stuff */
#navbar-search-input {
  padding: 4px;
  font-size: 16px;
  background-color: #eee;
  border: none;
  border-radius: 12px;
}

#navbar-search-input:focus {
  outline: none;
  background-color: #fff;
}

#navbar-search-button {
  margin-left: -5px;
  font-size: 18px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

#navbar-search-button:hover {
  color: #319df6;
}

#navbar-search-button:focus {
  color: #319df6;
  outline: none;
}

/* flash card stuff */
.fc {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.fc-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.fc:hover .fc-inner {
  transform: rotateY(180deg);
}

.fc-front, .fc-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fc-front {
  background-color: #fbfff1ff;
  color: #363537ff;
  border: 1px solid #171614ff;
}

.fc-back {
  background-color: #fbfff1ff;
  color: #363537ff;
  transform: rotateY(180deg);
  border: 1px solid #171614ff;
}

/* deck stuff */
.deck {
  background-color: red;
}

.deck-title {}

.deck-content {}

.deck-description {}

.deck-category {}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-twit-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.twit-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.twit-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.twit-input-element input,
.twit-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.twit-input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #087dde;
}

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}
